body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
}

#products {
  width: 50%;
}

.product {
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

button {
  padding: 6px 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

.cart {
  background: white;
  padding: 15px;
  border-radius: 8px;
}
